.card.accent,
.app-card.accent {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
}
.card.accent label,
.app-card.accent label {
    color: @accent_fg_color;
}
.card.destructive,
.app-card.destructive {
    background-color: @destructive_bg_color;
    color: @destructive_fg_color;
}
.card.destructive label,
.app-card.destructive label {
    color: @destructive_fg_color;
}
.card.terminal,
.app-card.terminal {
    background-color: #535252ff;
    color: #ffffff;
}
.card.terminal label,
.app-card.terminal label {
    color: #ffffff;
}
.app-card-label {
    border-radius: 999px;
    background-color: alpha(@window_bg_color, 0.6);
    color: inherit;
    padding: 0.2em 0.8em;
}
.app-card-label.accent-badge {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
}
.app-card-label.terminal-badge {
    background-color: #535252ff;
    color: #ffffff;
}
.update-success-badge {
    min-width: 18px;
    min-height: 18px;
}
.extracted-app .title > label {
    color: @accent_color;
    font-weight: bold;
}
.update-indicator {
    color: @accent_color;
    font-size: 10px;
}
.main-apps-page > scrolledwindow > viewport > clamp > box {
    padding-bottom: 30px;
}
